@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.card-container {
  width: 328.3px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.card-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #777;
}
.card-img-container {
  width: 250px;
  margin: auto;
}
